:root {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #86A69D;
  --color-primary-transparency: #86a69dea;
  --color-primary-transparency01: #86a69da8;
  --color-secondary: #F2B263;
  --color-soft-secondary:#ef9a31;
  --color-secondary-transparency: #f5aa4f;
  --color-terceary: #F2E8DF;
  --color-rose: #F2C6C2;
  --color-rose-gree: #F28585;
  --color-soft-white: #f1f1f1;
  --color-white: #efefef;
  --color-white-power: #fff;
  --color-white-one: #fffcfc;
  --color-black: #111;
  --color-gray: #222222;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



